/* HEADER*/
.header {
   padding-top: 55px;
   padding-bottom: 51px;
   background-color: beige;
}

.header-box {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   /* margin-right: 253px; */
   font-weight: 400;
   font-size: 36px;

   color: var(--second-color);
}

.logo .accent {
   color: var(--logo-accent-color);
}

.nav {
   display: flex;
   justify-content: space-between;
   gap: 40px;

   /* margin-right: 244px; */
}

.nav__link {
   padding-top: 20px;
   padding-bottom: 20px;

   font-weight: 500;
   /* font-size: 20px; */

   color: var(--brand-color);
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
   color: var(--hover-color);
}
.head__btn {
   /* margin-left: auto; */
   padding: 20px 56px;

   /* font-size: 20px; */
   line-height: 1.5;
   letter-spacing: 0.03em;

   color: var(--second-color);
   background-color: #fff;
}

/* ===== main ===== */

/* == HERO ==  */
.hero {
   padding-bottom: 103px;
}

.hero-box {
   display: flex;
   justify-content: space-between;
}

.hero__descr {
   padding-top: 51px;
   /* margin-right: 163px; */
   flex-basis: 50%;
   padding-right: 163px;
}

.hero__title {
   /* margin-bottom: 40px; */

   font-weight: 600;
   font-size: 64px;
   line-height: 1.33;
}
.hero__txt {
   margin-top: 40px;

   color: var(--first-color);
   font-family: Poppins;
   font-size: 24px;

   line-height: normal;
}

.hero__thumb {
   width: 653px;
   height: 642px;
}

.hero__btn {
   margin-top: 61px;
   min-width: 426px;
   padding: 32px 117px;
   font-size: 36px;
}

/* ------ */

/* --- SKILLS --- */

.all-skills {
   display: flex;
}
/* speaking */

.speaking .pretitle {
   margin-bottom: 5px;
}
/* нижний отступ кроме посл */
.speaking-wrapper .descr:not(:last-child) {
   margin-bottom: 24px;
}
/* ---- */

.speaking-wrapper {
   margin-bottom: 36px;
}

.skills {
   padding-bottom: 252px;
}
.skills .title {
   margin-bottom: 92px;
   font-weight: 600;
   font-size: 48px;
}

.skils-item {
   background-color: var(--bg-second-color);
}
.pretitle {
   font-weight: 600;
   font-size: 30px;
   /* identical to box height */
}

.skills .btn {
   padding: 16px 63px;
   font-size: 18px;
}
/* .learn {
   display: flex;
   justify-content: center;
} */

/* ABOUT US */

.about-us {
   padding-bottom: 188px;
}

.about-us__wrapper {
   display: flex;
   justify-content: space-between;
}

.about-us__descr {
   flex-basis: 50%;
   padding-top: 34px;
   padding-right: 34px;
}

.about-us__list {
   display: flex;
   justify-content: space-between;
   margin-top: 39px;
   padding-right: 41px;
}

.about-us-item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.about-us__txt {
   /* margin-bottom: 30px; */
   margin-top: 23px;

   /* font-size: 20px; */
   line-height: 1.5;
}
.about-us__value {
   font-weight: 600;
   font-size: 48px;
   line-height: 1.67;

   color: var(--decor-color);
}

.about-us__label {
   /* font-size: 20px; */
   line-height: normal;
}

.about-us__thumb {
   width: 500px;
   height: 500px;
}

/* PRICING */
.pricing {
   padding-bottom: 252px;
}

.pricing__list {
   display: flex;
   justify-content: space-between;
   margin-top: 57px;
}

.pricing__item {
   flex-basis: calc((100% - 108px) / 3);

   display: flex;
   flex-direction: column;
}

.pricing__item--mid {
   margin-top: 26px;
}

/* pricing__thumb */
.pricing__thumb--first {
   width: 311px;
   height: 311px;
}

.pricing__thumb--mid {
   width: 390px;
   height: 283px;
}

.pricing__thumb--last {
   width: 340px;
   height: 340px;
}

/*  pricing__subtitle   */
.pricing__subtitle {
   line-height: 1.6;

   text-transform: capitalize;
}

.pricing__subtitle--first {
   margin-top: 40px;
}

.pricing__subtitle--mid {
   margin-top: 42px;
}

.pricing__subtitle--last {
   margin-top: 11px;
}

.pricing__txt {
   margin-top: 19px;
   /* font-size: 20px; */
}

/* pricing__PRICE */
.pricing__price {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   min-width: 240px;

   margin-top: auto;
   margin-right: auto;
   padding-left: 9px;

   font-size: 18px;
   line-height: normal;

   color: #546269;
   background-color: var(--bg-price-color);
   border-radius: 5px;
}

.pricing__price--first {
   margin-top: 33px;
}

.price__value {
   margin-right: 5px;

   color: var(--brand-color);
   font-size: 30px;

   line-height: normal;
}

/* ===== CONTACT US ===== */
.contact-wrapper {
   display: flex;
   /* justify-content: space-between; */
}

.contact__thumb {
   flex-basis: 477px;
   height: 479px;
   flex-shrink: 0;

   /* outline: 1px solid red; */
}

.contact__dscr {
   margin-left: 92px;
   padding-top: 38px;

   /* outline: 1px solid red; */
}

.contact__txt {
   margin-top: 37px;
}
/* FORM */
.contact__form {
   display: flex;
   margin-top: 52px;
}

.subscribe__input {
   width: 450px;
   padding: 28px 29px;

   border-radius: 10px;
   border: 1px solid var(--first-color);
}

.subscribe__btn {
   margin-left: 12px;
   min-width: 264px;
}
/* FOOTER */

.footer-list .link {
   font-size: 24px;
   letter-spacing: 0.02em;

   color: var(--first-color);
}
.footer-list .link:hover {
   color: var(--hover-color);
}
/* ----------- */
.skills summary {
   text-align: center;

   font-size: 22px;
   font-weight: 800;
   color: var(--hover-color);
}
.summary {
   text-align: center;

   font-size: 32px;
   font-weight: 900;
   color: red;
   background-color: yellow;
}
