/* HEADER*/
.header {
   padding-top: 55px;
   padding-bottom: 51px;
   background-color: beige;
}

.header-box {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   /* margin-right: 253px; */
   font-weight: 400;
   font-size: 36px;

   color: var(--second-color);
}

.logo .accent {
   color: var(--logo-accent-color);
}

.nav {
   display: flex;
   justify-content: space-between;
   gap: 40px;

   /* margin-right: 244px; */
}

.nav__link {
   padding-top: 20px;
   padding-bottom: 20px;

   font-weight: 500;
   font-size: 20px;

   color: var(--brand-color);
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
   color: var(--hover-color);
}
.head__btn {
   /* margin-left: auto; */
   padding: 20px 56px;

   font-size: 20px;
   line-height: 1.5;
   letter-spacing: 0.03em;

   color: var(--second-color);
   background-color: #fff;
}

/* ===== main ===== */

/* == HERO ==  */
.hero {
   padding-bottom: 103px;
}

.hero-box {
   display: flex;
   justify-content: space-between;
}

.hero__descr {
   padding-top: 51px;
   /* margin-right: 163px; */
   flex-basis: 50%;
   padding-right: 163px;

   outline: 1px solid;
}

.hero__title {
   /* margin-bottom: 40px; */

   font-weight: 600;
   font-size: 64px;
   line-height: 1.33;
}
.hero__txt {
   margin-top: 40px;

   color: var(--first-color);
   font-family: Poppins;
   font-size: 24px;

   line-height: normal;
}

.hero__thumb {
   width: 653px;
   height: 642px;
   outline: 1px solid;
}

.hero__btn {
   margin-top: 61px;
   min-width: 426px;
   padding: 32px 117px;
   font-size: 36px;
}

/* ------ */

/* --- SKILLS --- */

.all-skills {
   display: flex;
}
/* speaking */

.speaking .pretitle {
   margin-bottom: 5px;
}
/* нижний отступ кроме посл */
.speaking-wrapper .descr:not(:last-child) {
   margin-bottom: 24px;
}
/* ---- */

.speaking-wrapper {
   margin-bottom: 36px;
}

.skills {
   padding-bottom: 252px;
}
.skills .title {
   margin-bottom: 92px;
   font-weight: 600;
   font-size: 48px;
}

.skils-item {
   background-color: var(--bg-second-color);
}
.pretitle {
   font-weight: 600;
   font-size: 30px;
   /* identical to box height */
}

.skills .btn {
   padding: 16px 63px;
   font-size: 18px;
}
/* .learn {
   display: flex;
   justify-content: center;
} */

/* ABOUT US */

.about-us {
   padding-bottom: 188px;
}

.about-us__wrapper {
   display: flex;
   justify-content: space-between;
}

.about-us__descr {
   flex-basis: 50%;
   padding-top: 34px;
   padding-right: 34px;
   /* margin-right: 194px; */

   outline: 1px solid;
}

.about-us__list {
   display: flex;
   justify-content: space-between;
   margin-top: 39px;
   padding-right: 41px;
}

.about-us-item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.about-us__txt {
   /* margin-bottom: 30px; */
   margin-top: 23px;

   font-size: 20px;
   line-height: 1.5;
}
.about-us__value {
   font-weight: 600;
   font-size: 48px;
   line-height: 1.67;

   color: var(--decor-color);
}

.about-us__label {
   font-size: 20px;
   line-height: normal;
}

.about-us__thumb {
   width: 500px;
   height: 500px;
}

/* PRICING */

.pricing__title {
   outline: 1px solid;
}

.pricing__list {
   display: flex;
   justify-content: space-between;
   /* align-items: flex-end; */
   margin-top: 57px;
   /* column-gap: 54px; */

   outline: 1px solid green;
}

.pricing__item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-basis: calc((100% - 108px) / 3);

   /* align-self: center; */

   outline: 1px solid;
}

.pricing__item--mid {
   align-self: flex-end;
}

.pricing__thumb--first {
   margin-bottom: 40px;
}

.pricing__subtitle {
   line-height: 1.6;

   text-transform: capitalize;
}

.pricing .descr {
   font-size: 20px;
}
.price-descr {
   font-size: 18px;

   color: var(--price-last-color);
   background-color: #eeeeee;
}

.price-descr .price {
   font-size: 24px;

   color: var(--price-first-color);
}

/* CONTACT US */

.contact .descr {
   font-size: 20px;
}
.contact .btn {
   padding: 20px 56px;
   min-width: 312px;
   font-size: 20px;
}

/* FORM */

.form-txt {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   /* identical to box height, or 188% */

   color: #8f95a5;
}

/* FOOTER */

.footer-list .link {
   font-size: 24px;
   letter-spacing: 0.02em;

   color: var(--first-color);
}
.footer-list .link:hover {
   color: var(--hover-color);
}
/* ----------- */
.skills summary {
   text-align: center;

   font-size: 22px;
   font-weight: 800;
   color: var(--hover-color);
}
.summary {
   text-align: center;

   font-size: 32px;
   font-weight: 900;
   color: red;
   background-color: yellow;
}
